/* Variables */
*,
*:before,
*:after {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  margin: 2em;
  background-color: #C8C8C8; }

.container {
  width: 100%;
  position: relative; }

.accordion {
  display: flex;
  justify-content: center;
  height: 7.5vh;
  width: 100%;
  background: #FFFFFF;
  position: relative;
  transition: height .3s;
  overflow: hidden; }
  .accordion--expand {
    height: 20vh; }
  .accordion__button {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 2rem;
    margin-top: 1.75rem;
    border: none;
    background: transparent;
    height: 2rem;
    font-size: 10rem;
    outline: none; }
    .accordion__button img {
      position: absolute;
      top: 10%;
      left: 2%;
      height: .75rem; }
    .accordion__button:hover {
      cursor: pointer; }
  .accordion__icon {
    transition: transform .3s;
    transform: rotate(90deg); }
    .accordion__icon--rotate {
      transform: rotate(180deg); }

.carousel {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  vertical-align: middle;
  height: max-content;
  width: 90%;
  margin: auto; }
  .carousel__button {
    width: 2rem;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all .2s; }
    .carousel__button:active {
      transform: scale(0.9); }
    .carousel__button img {
      height: 1.5rem; }
    .carousel__button--left {
      margin-right: 2rem; }
    .carousel__button--right {
      margin-left: 2rem; }
  .carousel__viewport {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    opacity: 1;
    transition: opacity .5s;
    transition-delay: .1s; }
    .carousel__viewport::-webkit-scrollbar {
      display: none; }
    .carousel__viewport--hide {
      opacity: 0; }
  .carousel__slide {
    display: inline-block;
    padding-top: 1.25rem;
    height: 9rem;
    transition: all .3s; }
    .carousel__slide img {
      border-radius: 1rem;
      height: 6.5rem;
      cursor: pointer; }
    .carousel__slide:hover {
      transform: scale(1.03); }
    .carousel__slide:not(:first-child) {
      padding-left: 2.5rem; }

.navbar {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  background-image: -webkit-linear-gradient(#5D6373, #121335);
  /* Safari 5.1 - 6.0 */
  background-image: -o-linear-gradient(#5D6373, #121335);
  /* Opera 11.1 - 12.0 */
  background-image: -moz-linear-gradient(#5D6373, #121335);
  /* Firefox 3.6 - 15 */
  background-image: linear-gradient(#5D6373, #121335); }
  .navbar__top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%; }
  .navbar__tuka-logo img {
    height: 8rem; }
  .navbar__text {
    font-size: 2.5rem;
    font-style: italic;
    color: #F56C6C;
    margin-top: 2.5rem;
    padding-right: 1rem; }
    @media only screen and (max-width: 900px) {
      .navbar__text {
        visibility: hidden; } }
  .navbar__linklist {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    width: 11rem; }
    .navbar__linklist img {
      height: 5rem;
      padding-top: 2rem; }
  .navbar__middle-section {
    width: 40%;
    height: 4rem;
    margin-top: -4rem;
    text-align: center; }
  .navbar__search-box {
    border-radius: 50%;
    width: 50%; }
  .navbar__bottom-section {
    width: 94%;
    height: 2.5rem;
    margin-bottom: 1.5rem; }

.search {
  width: 50%;
  position: absolute;
  left: 25%;
  margin: auto;
  margin-top: -11rem;
  height: max-content;
  z-index: 100;
  text-align: center; }
  .search__wrapper {
    position: relative;
    display: inline-block;
    width: 60%; }
  .search__input {
    border-radius: 5rem;
    border: none;
    line-height: 3.5rem;
    width: 100%;
    font-size: 1.6rem;
    padding: 0 2rem;
    outline: none;
    overflow: hidden; }
  .search__submit {
    border: none;
    background: transparent;
    position: absolute;
    top: 20%;
    right: 5%;
    outline: none; }
    .search__submit:hover {
      cursor: pointer; }
  .search__submit--icon {
    height: 2rem; }
  .search__suggestions, .search__no-suggestions {
    width: 55%;
    display: inline-block;
    margin: auto;
    list-style: none;
    background: #FFFFFF;
    text-align: left;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 0 0 .25rem .25rem;
    max-height: 5rem;
    overflow-y: scroll;
    z-index: 100; }
  .search li,
  .search em {
    font-size: 1.2rem; }
    .search li:not(:last-child),
    .search em:not(:last-child) {
      padding-bottom: .5rem; }
    .search li:hover,
    .search em:hover {
      cursor: pointer;
      color: #D95457; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
