.accordion {
  display: flex;
  justify-content: center;
  // height: 5rem;
  height: 7.5vh;
  width: 100%;
  background: $color-white;
  position: relative;
  transition: height .3s;
  overflow: hidden;

  &--expand {
    height: 20vh;
  }

  &__button {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 2rem;
    margin-top: 1.75rem;
    border: none;
    background: transparent;
    height: 2rem;
    font-size: 10rem;
    outline: none;

    & img {
      position: absolute;
      top: 10%;
      left: 2%;
      height: .75rem;
    }
    
    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    transition: transform .3s;
    transform: rotate(90deg);

    &--rotate {
      transform: rotate(180deg);
    }
  }
}

