@mixin headline1 {
  font-family: $default-font;
  font-size: 26px;
  color: $color-dark-coral;
}

@mixin headline2 {
  font-family: $default-font;
  font-size: 28px;
}

//MEDIA QUERIES

@mixin respond($breakpoint) {
  @if $breakpoint == $respond-900 {
    @media only screen and (max-width: $respond-900) {@content};
  }
}