/* Variables */

$color-white: #FFFFFF;
$color-light-coral: #F56C6C;
$color-dark-coral: #D95457;
$color-navy: #212740;
$color-black: #000000;
$color-grey: #C8C8C8;

$carousel-pic-height: 13rem;

$default-font: "Open Sans", sans-serif;